@font-face {
    font-family: 'avant-garde-book-bt';
    src: local('Avant Garde Book BT'), url('../font/avant-garde/AVGARDN_2.woff') format('woff');
}


@font-face {
    font-family: 'avant-garde-demi-bt';
    font-style: normal;
    font-weight: normal;
    src: local('Avant Garde Demi BT'), url('../font/avant-garde/AVGARDD_2.woff') format('woff');
}

@font-face {
    font-family: 'avant-garde-demi-oblique-bt';
    font-style: normal;
    font-weight: normal;
    src: local('Avant Garde Demi Oblique BT'), url('../font/avant-garde/AVGARDDO_2.woff') format('woff');
}

@font-face {
    font-family: 'open-sansregular';
    src: url('../font/open-sans/webfontkit/opensans-regular-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-regular-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sansbold';
    src: url('../font/open-sans/webfontkit/opensans-bold-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-bold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sansbold_italic';
    src: url('../font/open-sans/webfontkit/opensans-bolditalic-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-bolditalic-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sansextrabold';
    src: url('../font/open-sans/webfontkit/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-extrabold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sansextrabold_italic';
    src: url('../font/open-sans/webfontkit/opensans-extrabolditalic-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-extrabolditalic-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sansitalic';
    src: url('../font/open-sans/webfontkit/opensans-italic-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-italic-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sanslight';
    src: url('../font/open-sans/webfontkit/opensans-light-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-light-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sanslight_italic';
    src: url('../font/open-sans/webfontkit/opensans-lightitalic-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-lightitalic-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sanssemibold';
    src: url('../font/open-sans/webfontkit/opensans-semibold-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-semibold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'open-sanssemibold_italic';
    src: url('../font/open-sans/webfontkit/opensans-semibolditalic-webfont.woff2') format('woff2'),
        url('../font/open-sans/webfontkit/opensans-semibolditalic-webfont.woff') format('woff');
}

* {
    font-family: open-sansregular, sans-serif;
}

.logo {
    font-family: avant-garde-book-bt, sans-serif !important;
    font-weight: bold;
}

p {
    font-family: open-sansregular, sans-serif;
}

img {
    /* background: url('../images/loading.svg') no-repeat center; */
    background-size: cover;
}

@media (min-width: 320px) and (max-width: 1000px) {
    #portfolio .owl-carousel h4,
    #certificate .owl-carousel h4 {
        font-size: 1.3rem;
    }

    #portfolio .owl-carousel p,
    #certificate .owl-carousel p {
        font-size: .7rem;
    }
}

@media (min-width: 320px) {
    /* 
        Start Navbar
    */
    nav .nav-link {
        font-size: 15px;
        font-family: open-sanssemibold, sans-serif !important;
        letter-spacing: 1px;
    }

    nav i {
        color: #36BFC4;
    }

    nav button:focus {
        outline-color: #36BFC4;
    }

    nav .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
    }

    /* 
        End Navbar
    */


    /* 
        Start Home
    */
    #home {
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        padding-top: 2.3rem;
    }

    #home .cover {
        background-color: rgba(0, 0, 0, .7);
        min-width: 100%;
        min-height: 100%;
        top: 0;
        z-index: 1;
    }

    #home .content {
        z-index: 3;
    }

    #home .content .col-12 {
        min-height: 100%;
    }

    #home h2 {
        font-size: 25px;
    }

    #home span {
        color: #36BFC4;
        letter-spacing: -1px;
    }

    #home a {
        font-size: 12px;
        border: none;
        letter-spacing: .5px;
        position: relative;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        overflow: hidden;
    }

    #home a:focus,
    #home .btn-primary:focus {
        outline-color: #36BFC4 !important;
        border-color: #36BFC4;
        box-shadow: rgba(255, 255, 255, .5) 0px 0px 0px 0.1rem;
    }

    #home .btn-primary {
        background-color: #36BFC4;
    }

    #home .btn-secondary {
        background-color: #fff;
        color: #000;
        transition: .2s;
    }

    #home .btn-secondary:hover {
        background-color: #36BFC4;
        color: #fff;
    }

    #home a::before {
        content: '';
        transition: .2s;
        display: block;
        position: absolute;
        z-index: 3;
        background-color: rgba(255, 255, 255, .5);
        width: 4px;
        height: 100%;
        top: 0;
        left: -8%;
        -ms-transform: rotate(20deg);
        /* IE 9 */
        transform: rotate(20deg);
        /* Standard syntax */
    }

    #home a::after {
        content: '';
        transition: .2s;
        display: block;
        position: absolute;
        z-index: 3;
        background-color: rgba(255, 255, 255, .5);
        width: 4px;
        height: 100%;
        left: -6%;
        top: 0;
        -ms-transform: rotate(20deg);
        /* IE 9 */
        transform: rotate(20deg);
        /* Standard syntax */
    }

    #home a:hover::before {
        left: 110%;
    }

    #home a:hover::after {
        left: 115%;
    }

    /* 
        End Home
    */

    /* 
        Start About
    */

    #about h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    #about h2::after {
        content: '';
        display: block;
        position: absolute;
        width: 72%;
        height: 2px;
        background-color: #36BFC4;
        bottom: 0;
    }

    .about-navbar .nav-tabs .nav-link {
        background-color: #fff;
        color: #000;
        border-color: #36BFC4;
        font-size: 14px;
        letter-spacing: .3px;
    }

    .about-navbar .nav-tabs .nav-link.active {
        background-color: #36BFC4;
        color: #fff;
        border-color: #fff;
    }

    #about .content {
        display: none;
    }

    #about #skill h3 {
        font-size: 15px;
    }

    #about #skill .bar {
        width: 100%;
        min-height: .8rem;
    }

    #about #skill .value {
        min-height: .6rem;
        background-color: #36BFC4;
        font-size: 13px;
    }

    /* 
        End About
    */

    /* Section Root */
    section .head h2 {
        font-size: 30px;
    }

    section .head span {
        background-color: #36BFC4;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        z-index: 2;
    }

    section .head .position-absolute {
        width: 8rem;
        height: 2px;
        background-color: #36BFC4;
        z-index: 1;
    }

    section .head p {
        letter-spacing: -.5px;
        font-size: 16px;
    }
    /* End Section Root */

    /* 
        Start Portfolio 
    */

    #portfolio .owl-stage-outer {
        position: relative;
        z-index: 3;
    }

    #portfolio .owl-nav {
        display: none;
    }

    #portfolio button.owl-nav-custom {
        transition: .2s;
        position: absolute;
        background-color: rgba(255, 255, 255, .5);
        color: #36BFC4;
        z-index: 3;
        border: none;
        font-size: 28px;
    }

    #portfolio button.owl-nav-custom:focus {
        outline-color: #fff;
    }

    #portfolio button.owl-nav-custom:hover {
        font-size: 32px;
    }

    #portfolio button.owl-nav-custom:nth-child(3) {
        right: 0;
    }

    #portfolio button.owl-nav-custom:nth-child(2) {
        left: 0;
    }

    #portfolio .owl-carousel .position-absolute {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        top: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        max-width: 0%;
        left: 0;
    }

    #portfolio .owl-carousel .position-absolute h4,
    #portfolio .owl-carousel .position-absolute p {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: rgba(255, 255, 255, 0);
    }

    #portfolio .owl-carousel .position-absolute h4 {
        letter-spacing: -1px;
    }

    #portfolio .owl-carousel div.position-relative:hover .position-absolute {
        background-color: rgba(0, 0, 0, .6);
        max-width: 100%;
        padding: 0px 1.5rem;
    }

    #portfolio .owl-carousel div.position-relative:hover .position-absolute h4,
    #portfolio .owl-carousel div.position-relative:hover .position-absolute p {
        -webkit-transition-delay: .4s;
        -moz-transition-delay: .4s;
        -o-transition-delay: .4s;
        transition-delay: .4s;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        
    }

    #portfolio .owl-carousel div.position-relative:hover .position-absolute h4 {
        text-shadow: 0px 0px 10px #36BFC4;
    }

    /* 
        End Portfolio
    */

    /* 
        Start certificate 
    */

    #certificate .owl-stage-outer {
        position: relative;
        z-index: 3;
    }

    #certificate .owl-nav {
        display: none;
    }

    #certificate button.owl-nav-custom {
        transition: .2s;
        position: absolute;
        background-color: rgba(255, 255, 255, .5);
        color: #36BFC4;
        z-index: 3;
        border: none;
        font-size: 28px;
    }

    #certificate button.owl-nav-custom:focus {
        outline-color: #fff;
    }

    #certificate button.owl-nav-custom:hover {
        font-size: 32px;
    }

    #certificate button.owl-nav-custom:nth-child(3) {
        right: 0;
    }

    #certificate button.owl-nav-custom:nth-child(2) {
        left: 0;
    }

    #certificate .owl-carousel .position-absolute {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        top: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        max-width: 0%;
        left: 0;
    }

    #certificate .owl-carousel .position-absolute h4,
    #certificate .owl-carousel .position-absolute p {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: rgba(255, 255, 255, 0);
    }

    #certificate .owl-carousel .position-absolute h4 {
        letter-spacing: -1px;
    }

    #certificate .owl-carousel div.position-relative:hover .position-absolute {
        background-color: rgba(0, 0, 0, .6);
        max-width: 100%;
        padding: 0px 1.5rem;
    }

    #certificate .owl-carousel div.position-relative:hover .position-absolute h4,
    #certificate .owl-carousel div.position-relative:hover .position-absolute p {
        -webkit-transition-delay: .4s;
        -moz-transition-delay: .4s;
        -o-transition-delay: .4s;
        transition-delay: .4s;
        color: rgba(255, 255, 255, 1);
        text-align: center;

    }

    #certificate .owl-carousel div.position-relative:hover .position-absolute h4 {
        text-shadow: 0px 0px 10px #36BFC4;
    }

    /* 
        End certificate
    */

    /* 
        Start Timeline 
    */

    #timeline .content .col-9.position-relative {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        z-index: 3;
    }

    #timeline .content .row.left .col-9.position-relative::after,
    #timeline .content .row.right .col-9.position-relative::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 2rem;
        height: 2rem;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 10px;
        right: -.9rem;
        background-color: white;
    }

    #timeline .content h2 {
        font-size: 1.25rem;
    }

    #timeline .content h2::after {
        content: '';
        position: absolute;
        width: 20%;
        height: 3px;
        background-color: #36BFC4;
        bottom: -5px;
        left: 0;
    }

    #timeline .content p {
        font-size: 14px;
    }

    #timeline .content span {
        background-color: #36BFC4;
        margin-top: 13px;
    }

    #timeline .content .col-3 {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    #timeline .line-road {
        background-color: #36BFC4;
        width: 5px;
        height: 100%;
        left: calc(50% - 5px);
    }

    /* 
        End Timeline 
    */

    /* 
        Start Contact
    */

    #contact .content {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }

    #contact .content .d-inline-block {

        border: 1px solid rgba(0, 0, 0, .5);
        padding: .3rem .5rem;
    }

    #contact .content i {
        font-size: 1.5rem;
        color: #36BFC4;
    }

    #contact .content h4 {
        font-size: 1.2rem;
    }

    #contact .content p {
        font-size: 14px;
    }

    /* 
        End Contact
    */

    /* 
        Start Footer
    */

    footer p {
        font-size: 14px;
    }

    footer a {
        background-color: #36BFC4;
        border-radius: 50%;
        padding: 7px 10px;
        z-index: 3;
        left: calc(50% - 20px);
        top: -16px;
    }

    footer i {
        font-size: 20px;
    }

    /* 
        End Footer
    */
}

@media (min-width: 700px) {
    /* 
        Start Home
    */
    #home a {
        font-size: 14px;
        border: none;
        letter-spacing: .5px;
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
        overflow: hidden;
    }
    /* 
        End Home
    */

    /* 
        Start About
    */

    #about .col-md-2.sidebar {
        -ms-flex: 0 0 12%;
        flex: 0 0 12%;
        max-width: 12%;
    }

    #about .col-md-10.content {
        -ms-flex: 0 0 88%;
        flex: 0 0 88%;
        max-width: 88%;
    }

    #about .sidebar button {
        transition: .2s;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        font-size: 13.5px;
        outline: unset;
    }
    
    #about .sidebar .col-12 {
        padding: 1.2rem 0;
    }

    #about .sidebar .col-12:nth-child(2) {
        padding: 0rem 0 1.2rem;
    }

    #about .sidebar .col-12:last-child {
        padding: 1.2rem 0 0;
    }



    #about .sidebar .col-12 span {
        position: absolute;
        transition: .2s;
        top: -7px;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: #36BFC4;
        color: #fff;
        display: inline-block;
        padding: 2px 5px;
        border-radius: 3px;
        opacity: 0;
    }

    #about .sidebar .col-12:nth-child(2) span {
        top: -28px;
    }

    #about .sidebar .col-12 span.active {
        opacity: 1;
    }

    #about .sidebar button:hover,
    #about .sidebar button.active {
        background-color: #36BFC4;
        color: #fff;
    }

    #about .sidebar .col-12 {
        z-index: 3
    }

    #about .sidebar .line {
        width: 3px;
        background-color: #36BFC4;
        z-index: 1;
        min-height: 100%;
        top: 0;
    }

    /* 
        End About
    */

    /* 
        Start Timeline
     */

    #timeline .content .col-3 {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    #timeline .content .row.right .col-9.position-relative::after {
        left: -.9rem;
    }

    /* 
        End Timeline
     */
}

@media (min-width: 1080px) {
    /* 
        Start Navbar
    */
    nav .nav-link {
        margin: 0 .9rem;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    nav .nav-link i {
        opacity: 0;
        transition: .2s;
        position: absolute;
        left: -12px;
        top: 16px;
    }

    nav .nav-link.active i,
    nav .nav-link:hover i {
        opacity: 1;
    }

    .nav-item::before {
        content: '';
        display: block;
        position: absolute;
        top: -50px;
        width: 0;
        height: 0;
        border-bottom: 8px solid #36BFC4;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        margin: auto;
        margin-bottom: 8px;
        transform: rotate(180deg);
        transition: .3s;
    }

    .nav-item.active::before {
        top: 0;
    }
    /* 
        End Navbar
    */

    /* 
        Start Home
    */
    #home {
        padding-top: 3.5rem;
    }

    /* 
        End Home
    */
}