#mainNav {
    .navbar-nav>li.nav-item>a.nav-link {
        transition: .2s;
    }

    .navbar-nav>li.nav-item>a.nav-link.active {
        color: $primary;
        background: none;

        &:active,
        &:focus,
        &:hover {
            color: $primary;
            background: none;
        }
    }
}